repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      # Check for files that contain merge conflict strings.
      - id: check-merge-conflict
      # Check for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: debug-statements
      # Replaces or checks mixed line ending
      - id: mixed-line-ending
      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict
      # This hook checks toml files for parseable syntax.
      - id: check-toml
      # This hook checks yaml files for parseable syntax.
      - id: check-yaml
  - repo: https://github.com/timothycrosley/isort
    rev: 5.6.4
    hooks:
      - id: isort
  - repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        language_version: python3
