[build-system]
requires = ["setuptools >= 46.4.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
# color output and show skipped
addopts = "--color=yes -rs"

[tool.black]
target-version = ['py36', 'py37', 'py38']
